*{
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}
.header{
    width: 200px;
    height: 202px;
    border: 2px solid black;
    margin: 40px auto;
    background:linear-gradient(to right,rgb(07,97,208),rgb(124,186,124));
    border-radius: 9px;
}
input{
    width: 190px;
    height: 30px;
    border: 2px solid black;
    margin: 5px 3.5px;
    border-radius: 5px;
}
.span{
    display: inline-block;
    height: 38px;
    width: 43px;
    border: 2px solid black;
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 7px;
}
div{
    margin: 1px 0px;
    display: flex;
    justify-content: space-evenly;
}
.span:hover{
    font-size: larger;
    font-weight: bold;
}